/ExercicioRevisao1/.vs/ExercicioRevisao1/DesignTimeBuild/.dtbcache.v2
/ExercicioRevisao1/.vs/ExercicioRevisao1/FileContentIndex/38f1159a-5bc7-4af4-892b-7e2ebcb40c9e.vsidx
/ExercicioRevisao1/.vs/ExercicioRevisao1/FileContentIndex/read.lock
/ExercicioRevisao1/.vs/ExercicioRevisao1/v17/.futdcache.v2
/ExercicioRevisao1/.vs/ExercicioRevisao1/v17/.suo
/ExercicioRevisao1/.vs/ProjectEvaluation/exerciciorevisao1.metadata.v7.bin
/ExercicioRevisao1/.vs/ProjectEvaluation/exerciciorevisao1.projects.v7.bin
/ExercicioRevisao1/bin/Debug/net6.0/ExercicioRevisao1.deps.json
/ExercicioRevisao1/bin/Debug/net6.0/ExercicioRevisao1.dll
/ExercicioRevisao1/bin/Debug/net6.0/ExercicioRevisao1.exe
/ExercicioRevisao1/bin/Debug/net6.0/ExercicioRevisao1.pdb
/ExercicioRevisao1/bin/Debug/net6.0/ExercicioRevisao1.runtimeconfig.json
/ExercicioRevisao1/bin/Debug/net6.0/GenericsExercicio01.deps.json
/ExercicioRevisao1/bin/Debug/net6.0/GenericsExercicio01.dll
/ExercicioRevisao1/bin/Debug/net6.0/GenericsExercicio01.exe
/ExercicioRevisao1/bin/Debug/net6.0/GenericsExercicio01.pdb
/ExercicioRevisao1/bin/Debug/net6.0/GenericsExercicio01.runtimeconfig.json
/ExercicioRevisao1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.AssemblyInfo.cs
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.AssemblyInfoInputs.cache
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.GeneratedMSBuildEditorConfig.editorconfig
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.GlobalUsings.g.cs
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.assets.cache
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.csproj.AssemblyReference.cache
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.csproj.BuildWithSkipAnalyzers
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.csproj.CoreCompileInputs.cache
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.csproj.FileListAbsolute.txt
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.dll
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.genruntimeconfig.cache
/ExercicioRevisao1/obj/Debug/net6.0/ExercicioRevisao1.pdb
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.AssemblyInfo.cs
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.AssemblyInfoInputs.cache
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.GeneratedMSBuildEditorConfig.editorconfig
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.GlobalUsings.g.cs
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.assets.cache
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.csproj.AssemblyReference.cache
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.csproj.BuildWithSkipAnalyzers
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.csproj.CoreCompileInputs.cache
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.csproj.FileListAbsolute.txt
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.dll
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.genruntimeconfig.cache
/ExercicioRevisao1/obj/Debug/net6.0/GenericsExercicio01.pdb
/ExercicioRevisao1/obj/Debug/net6.0/apphost.exe
/ExercicioRevisao1/obj/Debug/net6.0/ref/ExercicioRevisao1.dll
/ExercicioRevisao1/obj/Debug/net6.0/ref/GenericsExercicio01.dll
/ExercicioRevisao1/obj/Debug/net6.0/refint/ExercicioRevisao1.dll
/ExercicioRevisao1/obj/Debug/net6.0/refint/GenericsExercicio01.dll
/ExercicioRevisao1/obj/ExercicioRevisao1.csproj.nuget.dgspec.json
/ExercicioRevisao1/obj/ExercicioRevisao1.csproj.nuget.g.props
/ExercicioRevisao1/obj/ExercicioRevisao1.csproj.nuget.g.targets
/ExercicioRevisao1/obj/GenericsExercicio01.csproj.nuget.dgspec.json
/ExercicioRevisao1/obj/GenericsExercicio01.csproj.nuget.g.props
/ExercicioRevisao1/obj/GenericsExercicio01.csproj.nuget.g.targets
/ExercicioRevisao1/obj/project.assets.json
/ExercicioRevisao1/obj/project.nuget.cache
/ExercicioRevisao2/.vs/ExercicioRevisao2/DesignTimeBuild/.dtbcache.v2
/ExercicioRevisao2/.vs/ExercicioRevisao2/FileContentIndex/808bc8a7-2e3e-47b4-a871-6eb2f8a76921.vsidx
/ExercicioRevisao2/.vs/ExercicioRevisao2/FileContentIndex/read.lock
/ExercicioRevisao2/.vs/ExercicioRevisao2/v17/.futdcache.v2
/ExercicioRevisao2/.vs/ExercicioRevisao2/v17/.suo
/ExercicioRevisao2/.vs/ProjectEvaluation/exerciciorevisao2.metadata.v7.bin
/ExercicioRevisao2/.vs/ProjectEvaluation/exerciciorevisao2.projects.v7.bin
/ExercicioRevisao2/bin/Debug/net6.0/ExercicioRevisao2.deps.json
/ExercicioRevisao2/bin/Debug/net6.0/ExercicioRevisao2.dll
/ExercicioRevisao2/bin/Debug/net6.0/ExercicioRevisao2.exe
/ExercicioRevisao2/bin/Debug/net6.0/ExercicioRevisao2.pdb
/ExercicioRevisao2/bin/Debug/net6.0/ExercicioRevisao2.runtimeconfig.json
/ExercicioRevisao2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.AssemblyInfo.cs
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.AssemblyInfoInputs.cache
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.GeneratedMSBuildEditorConfig.editorconfig
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.GlobalUsings.g.cs
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.assets.cache
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.csproj.AssemblyReference.cache
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.csproj.BuildWithSkipAnalyzers
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.csproj.CoreCompileInputs.cache
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.csproj.FileListAbsolute.txt
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.dll
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.genruntimeconfig.cache
/ExercicioRevisao2/obj/Debug/net6.0/ExercicioRevisao2.pdb
/ExercicioRevisao2/obj/Debug/net6.0/apphost.exe
/ExercicioRevisao2/obj/Debug/net6.0/ref/ExercicioRevisao2.dll
/ExercicioRevisao2/obj/Debug/net6.0/refint/ExercicioRevisao2.dll
/ExercicioRevisao2/obj/ExercicioRevisao2.csproj.nuget.dgspec.json
/ExercicioRevisao2/obj/ExercicioRevisao2.csproj.nuget.g.props
/ExercicioRevisao2/obj/ExercicioRevisao2.csproj.nuget.g.targets
/ExercicioRevisao2/obj/project.assets.json
/ExercicioRevisao2/obj/project.nuget.cache
